# Sets and Dictionaries
Session 3 - part 1 
<br>07/13/2021

## Sets
Sets are unordered and unindexed collection of data. Because of this, they cannot accept duplicates. Let's see some examples:

In [156]:
x=[1,2,3,4,5,5,5,6,2,1]
y=[4,9,7,8,8,4,5,4,6]

In [157]:
print(type(x), type(y))
print(x)
print(y)

<class 'list'> <class 'list'>
[1, 2, 3, 4, 5, 5, 5, 6, 2, 1]
[4, 9, 7, 8, 8, 4, 5, 4, 6]

In [158]:
# Let's make these into sets!
xset = set(x)
yset = set(y)

In [159]:
xset

{1, 2, 3, 4, 5, 6}

In [160]:
type(xset)

set

In [161]:
len(xset)

6

## Methods of Sets

There are many, but let's look at three most used:

In [162]:
print(xset)
print(yset)
# Union
xset.union(yset)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [163]:
# What do you think about the check below: True or False?
xset.union(yset) == yset.union(xset)

True

In [164]:
# Intersection 
xset.intersection(yset)

{4, 5, 6}

In [165]:
#What do you think about the check below? True or False? 
yset.intersection(xset) == xset.intersection(yset)

True

In [166]:
## Difference
xset.difference(yset)
yset.difference(xset)

{7, 8, 9}

In [167]:
#What do you think about the check below? True or False? 
xset.difference(yset) == yset.difference(xset)

False

Some more notes about sets:

In [168]:
# Do sets accept elements of different types?
set1 = {'a',1,1.2}
set1

{1, 1.2, 'a'}

In [169]:
# Do sets accept duplicates?
set2 = {'b', 1, 1, 1.1}
set2

{1, 1.1, 'b'}

In [170]:
# What is the length of the following set?
set3 = {'c',1, True, 0, False, 2.0, 2}
print(set3)
print(len(set3))

{0, 1, 2.0, 'c'}
4

In [171]:
# A familiar operation works for sets too, but with a twist!
set3.pop()

0

In [172]:
print(set3)

{1, 2.0, 'c'}

Now that you know about sets and some basic operations, can you think of a usecase of sets in a business setting?

## Dictionaries
Dictionaries are one of the four built in data types that are used to store a collection of data. Unlike all the data structures we have seen, dictionaries are very structured, the data is stored in key:value pairs, just like in a dictionary! As expected, dictionaries do not accept duplicates.


(From Python 3.7 onwards, dictionaries are supposed to preserve the key insertion order but please check the implementation you are working with before relying on this!)


Let's see some examples:

In [173]:
import sys
sys.version

'3.9.1 (default, Dec 11 2020, 06:28:49) \n[Clang 10.0.0 ]'

In [174]:
d = { 'online':True, 
     'courseName':'ba765',  
     'totStudents': 100, 
     3:['A','B','C']}
print(type(d))
d

<class 'dict'>

{'online': True, 'courseName': 'ba765', 'totStudents': 100, 3: ['A', 'B', 'C']}

In [175]:
d.keys()

dict_keys(['online', 'courseName', 'totStudents', 3])

In [176]:
list(d.keys())

['online', 'courseName', 'totStudents', 3]

In [177]:
# Deleting a key 
del d['online']
print(d)

{'courseName': 'ba765', 'totStudents': 100, 3: ['A', 'B', 'C']}

In [178]:
# Adding a key
d['LfA'] = True
print(d)

{'courseName': 'ba765', 'totStudents': 100, 3: ['A', 'B', 'C'], 'LfA': True}



---

In [179]:
d['LfA'] = False

In [180]:
#Accessing values in a dictionary
d['LfA']

False

In [181]:
d[3]

['A', 'B', 'C']

In [182]:
#How about changing the values of the keys?
d['LfA'] = False
d

{'courseName': 'ba765', 'totStudents': 100, 3: ['A', 'B', 'C'], 'LfA': False}

In [183]:
# There is another way of accessing the value of a key
# which also allows us to set a default value:
d.get('instructor', 'TBD')

'TBD'

In [184]:
# Further checks about existince of a key:
'courseName' in d

True

In [185]:
'instructor' not in d

True



---

In [186]:
# We have worked enough with keys, 
# let's take a look at things we can do with values

d.values()

dict_values(['ba765', 100, ['A', 'B', 'C'], False])

In [187]:
list(d.values())

['ba765', 100, ['A', 'B', 'C'], False]

In [188]:
# .. or items:
d.items()

dict_items([('courseName', 'ba765'), ('totStudents', 100), (3, ['A', 'B', 'C']), ('LfA', False)])

In [189]:
list(d.items())

[('courseName', 'ba765'),
 ('totStudents', 100),
 (3, ['A', 'B', 'C']),
 ('LfA', False)]

In [190]:
# Updating a dictionary by adding a new item, aka k:v pair:
d.update({'rating':4.95})
print(d)

{'courseName': 'ba765', 'totStudents': 100, 3: ['A', 'B', 'C'], 'LfA': False, 'rating': 4.95}

In [191]:
# Using the update function to update an existing k:v pair:
d.update({'LfA':True})
d['LfA']

True

In [192]:
# We already saw how to remove a k:v pair
del d['LfA']

In [193]:
# but we can also clear the whole dictionary:
d.clear()

In [194]:
print(d)

{}

In [195]:
# if we want to get rid of it completely:
del d

In [196]:
print(d)

NameError: name 'd' is not defined

#### Quick exercise:

Define a dictionary that has    

*   'a' list of values from 1 to 5
*   'b' tuple of your first and last name
*  765 that as your age as a float

Then:
*  confirm that it is a dictionary 
*  print out the keys as a list.

In [208]:
# your code here
dictionary_lab = {'a' : [1,2,3,4,5,], 'b' : ('Jon', 'Sherman'), 765 : 26.0}
print('dictionary_lab is type', type(dictionary_lab))
list(dictionary_lab.keys())

dictionary_lab is type <class 'dict'>

['a', 'b', 765]


## Interlude to Python with some git 
---

That is all for now for dictionaries and sets! Hope you enjoyed these new data structures and can think of interesting ways of using them!

Now we'll take a break with some git, with Github Desktop and VS Code.

- git clone \<repo path here.git\>
- git status
- git add \<filename>
- git commit
- git push
- git config --global user.email "your-email-here"
- git config --global user.name "Your name here"