# BA 765 
Session 07 - 07/27

Outline:

- Notes about assignments/quizzes return: I will release the assignments/exams that followed instructions *without waiting for the rest*.
- Notes about grades and wide range of prior experience in the classroom: **Progress matters!**
- Midterm Q&A. 
- Function building exercises
- List comprehension
- Object oriented programming (in-class exercise)

## Building functions:
"*Learning the python syntax is like learning the alphabet, writing functions is like writing our first story*"

Let's build two functions together in Breakout rooms:

In [1]:
# 1
# Write a python function that returns, in a list, the even numbers from a given list

def my_even_filter(input_list list):
  #
  
  return(my_even_list)

SyntaxError: invalid syntax (<ipython-input-1-6053066bd2e1>, line 4)

In [ ]:
# Notes from the class - type hinting
def myfunc(a: str, b: float) -> float:
  print(a)
  return (b+5)

In [ ]:
# function call with the hinted types
myfunc('4',3.0)

4

8.0

In [ ]:
# function call with types different than hinted ones
# does not throw error: 
myfunc(4,1)

4

6

In [ ]:
# 2
# Write a python function that separates upper and lower case characters in a given string, such that
# given "The quick Brow Fox" it should return a dictionary with the following k:v pairs:
# 'upper'=['T','B','F']
# 'lower' = 12 (total number of lower case characters)

def my_upper_lower_filter(input_string):
  #
  #
  return(my_dict)

In [ ]:
# notes from class:
# punctuation does not have upper or lower case:
' '.isupper()

False

In [ ]:
' '.islower()

False

More exercises with solutions can be found here: https://www.w3resource.com/python-exercises/python-functions-exercises.php

## List comprehension

A useful, compact python syntax that allows us to build lists from iterables (such as lists, tuples, dictionaries):

In [2]:
x=[0,1,2,3,4,5,6]
print(x)
y=[]
for i in x:
  y.append(i**2)
print(y)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 4, 9, 16, 25, 36]

Syntax for list comprehension is:
```
newlist = [expression for item in iterable if condition == True]
```

In [ ]:
z = [i**2 for i in x]
print(z)

[0, 1, 4, 9, 16, 25, 36]

In [ ]:
w = [i**2 for i in x if i <4]
print(w)

[0, 1, 4, 9]

In [ ]:
t = [item+str(5) for item in ("maroon", "jackson")]
print(t)

['maroon5', 'jackson5']

In [3]:
my_dict = dict({'key1':1 , 'key2':'a'})
print(my_dict, type(my_dict))

{'key1': 1, 'key2': 'a'} <class 'dict'>

In [5]:
d_keys = [i for i in my_dict]
d_vals = [i for i in my_dict.values()]
# iterating over each key unless you specify  values 
# we can always cast the end result to another data type
d_keys_tuple = tuple([i for i in my_dict])
# 
print(d_keys)
print(d_vals)

['key1', 'key2']
[1, 'a']